{% load static %}
<header>
    <div class="header-container">
        <div class="logo">
            <a href="/">Логотип Табуреток</a>
        </div>
        <nav>
            <ul>
                <li><a href="{% url 'home' %}">Главная</a></li>
                <li><a href="{% url 'products' %}">Товары</a></li>
                <li><a href="{% url 'cart' %}">Корзина</a></li>
                <li><a href="{% url 'Orders' %}">Мои заказы</a></li>
            </ul>
        </nav>
        <div class="user-section">
            {% if user.is_authenticated %}
                <span>{{ user.username }}</span>
                <a href="{% url 'logout' %}" class="btn">Выйти</a>
            {% else %}
                <a href="{% url 'login' %}" class="btn">Войти</a>
            {% endif %}
        </div>
    </div>
</header>
<link rel="stylesheet" href="{% static 'css/header/header.css' %}">