{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{% static 'css/header/header.css' %}">
    <title>{% block title %}StoolShop{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">

</head>
<body>
    {% include 'Components/header/header.html' %}
    <div class="content">
        {% block content %}{% endblock %}
        {% if messages %}
            {% for message in messages %}
                <div style="margin: 10px 0; padding: 10px; background-color: #dff0d8; border: 1px solid #d6e9c6;">{{ message }}</div>
            {% endfor %}
        {% endif %}
    </div>
{% include 'Components/Footer/Footer.html' %}
</body>
</html>