<header>
    <div class="header-container">
        <div class="logo">
            {% if user.is_authenticated and user.is_superuser %}
                <a href="/admin-panel/">Admin Panel</a>
            {% else %}
                <a href="/shop/">Логотип Табуреток</a>
            {% endif %}
        </div>
        <nav>
            <ul>
                {% if user.is_authenticated %}
                    {% if user.is_superuser %}
                        {% for model in model_list %}
                            <li><a href="{% url 'admin_list' model.name %}">{{ model.verbose_name }}</a></li>
                        {% endfor %}
                    {% else %}
                        <li><a href="{% url 'home' %}">Главная</a></li>
                        <li><a href="{% url 'products' %}">Товары</a></li>
                        <li><a href="{% url 'cart' %}">Корзина</a></li>
                        <li><a href="{% url 'orders' %}">Мои заказы</a></li>
                    {% endif %}
                {% endif %}
            </ul>
        </nav>
        <div class="user-section">
            {% if user.is_authenticated %}
                <span>{{ user.username }}</span>
                {% if user.is_superuser %}
                    <a href="{% url 'admin_logout' %}" class="btn">Выйти</a>
                {% else %}
                    <a href="{% url 'logout' %}" class="btn">Выйти</a>
                {% endif %}
            {% else %}
                <a href="/admin-panel/login/" class="btn">Войти</a>
            {% endif %}
        </div>
    </div>
</header>